---
import Button from "./Button.astro";
---

<header class="my-4 w-[100%] flex justify-between items-center">
  <h1 class="text-[#7969E6] text-xl font-semibold">Virries</h1>
  <ul class="text-gray-700 text-sm flex gap-7">
    <li>Products</li>
    <li>Solutions</li>
    <li class="relative">
      Developer
      <div class="absolute -bottom-4 left-1/2 text-lg font-semibold">.</div>
    </li>

    <li>Partner</li>
    <li>Pricing</li>
  </ul>
  <Button text="Get Started" />
</header>
