---
import Button from "./Button.astro";
---

<div class="flex flex-col items-center gap-7 my-16">
  <Button size="small" text="Introduce Cloud Platforms" color="bordered" />
  <div
    class="w-[40%] flex flex-col gap-4 text-center text-5xl antialiased font-normal"
  >
    <h1>
      Remote&nbsp;<span class="text-[#7969e6]">Computer</span>
    </h1>
    <h1>Anywhere and Anytime</h1>
  </div>

  <div class="flex flex-col gap-1 text-sm text-gray-600 text-center">
    <p>Run optimized developer cloud. Use all software that supports it.</p>
    <p>From anyWhere and with any device.</p>
  </div>

  <div class="flex gap-4">
    <Button text="Create Your Virries" />
    <Button text="See Video Demo" color="simple" />
  </div>
</div>
